.comments__title {
  margin-bottom: 45px;
  @extend %h1;
}

.comments__container {
  display: flex;

  .replies & {
    margin-bottom: 30px;
  }
}

.avatar__container {
  $avatar-size: $form-row-height;
  $avatar-padding: 2px;

  position: relative;
  display: flex;

  margin: -4px 25px 0 0;
  padding: $avatar-padding;
  width: $avatar-size;
  height: $avatar-size;

  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;
  border: $border-size solid $border-color;
  overflow: hidden;

  .replies & {
    $avatar-size-small: 68px;

    margin: -3px 20px 0 0;
    width: $avatar-size-small;
    height: $avatar-size-small;
  }

  .leave-comment & {
    margin-top: 0;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: $avatar-padding;
    bottom: $avatar-padding;
    right: $avatar-padding;
    left: $avatar-padding;
    border-radius: $border-radius;
    background-color: $border-color;
  }

  img {
    position: relative;
    border-radius: $border-radius;
  }
}

.comment__form {
  margin-top: -6px;
  flex: 1;

  label {
    margin-bottom: 11px;
  }
}

textarea.comment__value {
  resize: none;
  overflow: auto;
}

.comment__submit {
  display: flex;
  margin: 0 0 0 auto;
  padding: 5px;

  width: 140px;
  height: 44px;

  align-items: center;
  justify-content: center;

  @extend %default-text;
  font-weight: 500;

  border: none;
  border-radius: $border-radius;
  background-color: $color-buttercup;

  cursor: pointer;
}

.comment__wrapper {
  flex: 1;

  p {
    margin-bottom: 15px;
  }
}

.comment__list {
  display: flex;
  align-items: center;
}

.comment__item {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;

  font-size: 15px;
  line-height: 1;
  color: $color-secondary;

  &:not(:last-child) {
    margin-right: 10px;
  }

  img {
    position: relative;
    top: -1px;
    @extend %icon;
  }

  span {
    flex-shrink: 0;
  }
}

.comment__info {
  margin-bottom: 15px;
}

.comment__handle {
  margin-bottom: 25px;
}

.comment__interrupt {
  margin-bottom: 18px;
  justify-content: space-between;
}

.comment__handle,
.comment__interrupt {
  .comment__item {
    cursor: pointer;
  }
}

.comment__author {
  font-size: 17px;
  font-weight: 500;
  color: $color-text;
}

.comments__load {
  position: relative;
  margin-top: 50px;
  background-color: $color-white;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: $border-size;
    background-color: $border-color;
  }

  & > * {
    display: flex;
    position: relative;

    margin: 0 auto;
    padding: 5px 14px;
    max-width: 200px;
    height: 40px;

    align-items: center;
    justify-content: center;

    @extend %default-text;
    color: $color-secondary;

    border: $border-size solid $border-color;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 10px;
      background-color: $color-white;
    }

    &::before {
      left: -12px;
    }

    &::after {
      right: -12px;
    }
  }
}
