<div class="comments">
  <div class="leave-comment">
    <h2 class="comments__title">Leave comment</h2>
    <div class="comments__container">
      <div class="avatar__container">
        <img src="images/Avatar-1.png" alt="Avatar Image">
      </div>
      <form action="" id="leave-comment__form" class="comment__form">
        <fieldset class="comment__fieldset">
          <label for="comment__value" class="outlined">
            <textarea name="comment" id="comment__value" class="comment__value" placeholder=" "></textarea>
            <span>Your Message</span>
          </label>
          <button class="comment__submit submit-btn">Send</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>