body {
  font-family: "Stag", Arial;
  font-size: 17px;
  line-height: 25px;
  color: $color-text;
  background-color: $color-concrete;

  strong {
    font-weight: 500;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.container {
  position: relative;
  margin: -80px auto 0;
  padding: 48px $container-padding-horizontal 60px;
  max-width: 940px;
  background-color: $color-white;
  box-shadow: 0 5px 15px rgba($color-black, 0.05);
}

.divider {
  margin: 10px auto;
  height: 2px;
  background-color: $color-concrete;
}
